apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: vistio-api-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "vistio-api.{{LB_ADDRESS}}.nip.io"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: vistio-api
spec:
  hosts:
  - "vistio-api.{{LB_ADDRESS}}.nip.io"
  gateways:
  - vistio-api-gateway
  http:
  - match:
    corsPolicy:
      allowOrigin:
      - vistio-web.{{LB_ADDRESS}}.nip.io
    route:
    - destination:
        host: vistio-api
        port:
          number: 9091
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: vistio-web-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "vistio-web.{{LB_ADDRESS}}.nip.io"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: vistio-web
spec:
  hosts:
  - "vistio-web.{{LB_ADDRESS}}.nip.io"
  gateways:
  - vistio-web-gateway
  http:
  - match:
    route:
    - destination:
        host: vistio-web
        port:
          number: 8080
